doctype html
html
  head
    title GulpJS Boilerplate
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    h1 GulpJS Boilerplate
    hr
    ul
      li gulp
      li gulp-pug
      li browser-sync
      li gulp-sass
      li gulp-sourcemaps
      li gulp-autoprefixer
      li gulp-concat
      li gulp-uglify
      li pump
      li gulp-plumber

    script(src='js/main.js')
